# Package setup
setuptools
wheel

# Terminal colours
colorama

# Data processing
pandas
scipy
openpyxl

# Data validation
pydantic
great-expectations

# Stats
statsmodels

# SQL databases
SQLAlchemy

# APIs
requests

# Machine learning
#tensorflow-macos
scikit-learn

# Visualisation
matplotlib
seaborn
plotly

# Configuration
PyYAML

# Jupyter
jupyterlab
notebook
voila
