# Containers
docker

# Pipelines
build
pre-commit

# Testing
pytest
pytest-asyncio
pytest-mock
pytest-cov

# Formatting
black
isort
mypy

# Linting
flake8
flake8-pyproject

# Documentation
pydocstyle
mkdocs
pymdown-extensions
mkdocs-material
mkdocstrings[python]
mkgendocs
pandas-stubs
termynal
